<ul class="left-navbar">
	<li class="hoe-rheader-submenu">
		<a href="/">
			Home
		</a>
	</li>
	<li class="hoe-rheader-submenu">
		<a href="/components">
			Components
		</a>
	</li>
	<li class="hoe-rheader-submenu">
		<a href="/icons">
			Icons
		</a>
	</li>	
	<li class="hoe-rheader-submenu">
		<a href="/terms">
			Icons
		</a>
	</li>	
	<li class="hoe-rheader-submenu">
		<a href="/faq">
			Icons
		</a>
	</li>										
	<li class="dropdown hoe-rheader-submenu">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown" >
		Page Layouts
		</a>
		<ul class="dropdown-menu ">
			<li>
				<a href="/left-sidebar">Left Side-bar Page</a>
			</li>
			<li>
				<a href="/right-sidebar">Right Side-bar Page</a>
			</li>
		</ul>
	</li> 
	<li>
		<form method="post" class="hoe-searchbar">
			<input type="text" placeholder="Search..." name="keyword" class="form-control">
			<span class="search-icon"><i class="fa fa-search"></i></span>
		</form>
	</li>
</ul> 