<ul class="right-navbar">
	<li class="dropdown hoe-rheader-submenu hoe-header-profile">
		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			<span><img class="img-circle " src="/images/avatar.png"></span>
            <span>Jelmer Stoker <i class=" fa fa-angle-down"></i></span>
		</a> 
		<ul class="dropdown-menu ">
			<li><a href="/user/profile"><i class="fa fa-user"></i>My Profile</a></li>
			<li><a href="/user/calendar"><i class="fa fa-calendar"></i>My Calendar</a></li>
			<li><a href="/user/lock"><i class="fa fa-lock"></i>Lock Screen</a></li>
			<li><a href="/logout"><i class="fa fa-power-off"></i>Logout</a></li>
		</ul>
	</li>
</ul>