    <ul class="nav panel-list">
        <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                    <img class="pull-left img-circle filled-icon-nav" src="/images/avatar.png">
                        <span class="media-body-nav">
                            <span class="menu-text">Welcome <span>Jelmer</span></span>
                        </span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                        <a href="/user/profile">
                            <svg class="filled-icon-profile-6"><use xlink:href="/fonts/filled-icons.svg#filled-icon-profile-6"></use></svg>
                            <span class="menu-text">Profile</span>
                            <span class=""></span>
                        </a>
                    </li>
                <li class="hoe-has-menu">
                    <a href="javascript:void(0)">
                        <svg class="filled-icon-folder-lock"><use xlink:href="/fonts/filled-icons.svg#filled-icon-folder-lock"></use></svg>
                        <span class="menu-text">Admin</span>
                        <span class="selected"></span>
                    </a>
                    <ul class="hoe-sub-menu">
                    <li>
                        <a href="/user/lock">
                            <svg class="filled-icon-lock-3"><use xlink:href="/fonts/filled-icons.svg#filled-icon-lock-3"></use></svg>
                            <span class="menu-text">Lock</span>
                            <span class=""></span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout">
                            <svg class="filled-icon-lock-2"><use xlink:href="/fonts/filled-icons.svg#filled-icon-lock-2"></use></svg>
                            <span class="menu-text">Logout</span>
                            <span class=""></span>
                        </a>
                    </li>
                        </ul>
                        </li>  
                    </ul>
                </li>
        <li class="nav-level">Menu</li>
        <li class="">
            <a href="/">
                <svg class="filled-icon-house-4"><use xlink:href="/fonts/filled-icons.svg#filled-icon-house-4"></use></svg>
                <span class="menu-text">Home</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="">
            <a href="/manage_users">
                <svg class="filled-icon-connection-2"><use xlink:href="/fonts/filled-icons.svg#filled-icon-connection-2"></use></svg>
                <span class="menu-text">User Management</span>
                <span class="selected"></span>
            </a>
        </li>
    </ul>