   <div class="profile-box">
        <div class="media">
            <a class="pull-left" href="/user/profile">
                <img class="img-circle" src="/images/avatar.png">
            </a>
            <div class="media-body">
                <h5 class="media-heading">Welcome <span>Jelmer</span></h5>
                <small>Programmer</small>
            </div>
        </div>
    </div>
    <ul class="nav panel-list">
        <li class="nav-level">Demo Menu</li>
        <li class="">
            <a href="/">
                <i class="fa fa-home"></i>
                <span class="menu-text">Home</span>
                <span class="selected"></span>
            </a>
        </li>
        <li>
            <a href="/components">
                <i class="fa fa-home"></i>
                <span class="menu-text">Components</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/icons">
                <i class="fa fa-home"></i>
                <span class="menu-text">Icons</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/faq">
                <i class="fa fa-home"></i>
                <span class="menu-text">Faq</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/terms">
                <i class="fa fa-home"></i>
                <span class="menu-text">Terms & Conditions</span>
                <span class=""></span>
            </a>
        </li>
        <li class="nav-level">User Demo Menu</li> 
        <li class="active">
            <a href="/manage_users">
                <i class="fa fa-home"></i>
                <span class="menu-text">User Management</span>
                <span class="selected"></span>
            </a>
        </li>
       <li>
            <a href="/user/profile">
                <i class="fa fa-home"></i>
                <span class="menu-text">Profile</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/login">
                <i class="fa fa-home"></i>
                <span class="menu-text">Login/Register</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/user/lock">
                <i class="fa fa-home"></i>
                <span class="menu-text">Lock Page</span>
                <span class=""></span>
            </a>
        </li>
        <li class="nav-level">Layout Demo Menu</li>
        <li>
            <a href="/left-sidebar">
                <i class="fa fa-home"></i>
                <span class="menu-text">Left Side-bar</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/right-sidebar">
                <i class="fa fa-home"></i>
                <span class="menu-text">Right Side-bar</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/topnav-user">
                <i class="fa fa-home"></i>
                <span class="menu-text">Top-navigation + user menu</span>
                <span class=""></span>
            </a>
        </li>
        <li>
            <a href="/clean">
                <i class="fa fa-home"></i>
                <span class="menu-text">Clean</span>
                <span class=""></span>
            </a>
        </li>
        <li class="nav-level">Demo Menu Levels</li>
        <li class="hoe-has-menu">
            <a href="javascript:void(0)">
                <i class="fa fa-sitemap"></i>
                <span class="menu-text">Menu Level 1</span>
                <span class="selected"></span>
            </a>
            <ul class="hoe-sub-menu">
                <li>
                    <a href="javascript:void(0)">
                      <span class="menu-text">level 2</span>
                      <span class="selected"></span>
                    </a>
                </li>
                <li>
                    <a href="javascript:void(0)">
                      <span class="menu-text">level 2</span>
                      <span class="selected"></span>
                    </a>
                </li>
                <li class="hoe-has-menu">
                    <a href="javascript:void(0)">
                        <span class="menu-text">level 2</span>
                        <span class="selected"></span>
                    </a>
                    <ul class="hoe-sub-menu">
                        <li class="hoe-has-menu">
                            <a href="javascript:void(0)">
                                <span class="menu-text">level 3</span>
                                <span class="selected"></span>
                            </a>
                            <ul class="hoe-sub-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="menu-text">level 4</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="menu-text">level 4</span>
                                        <span class="selected"></span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">level 3</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">level 3</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">
                                <span class="menu-text">level 3</span>
                                <span class="selected"></span>
                            </a>
                        </li>
                        </ul>
                        </li>  
                    </ul>
                </li>
    </ul>