/*
* @Author: JB Stoker
* @Date:   2016-05-14 13:28:05
* @Last Modified by:   JB Stoker
* @Last Modified time: 2016-05-18 15:00:08
*/
.alert-container{
    z-index: 99;
 	display: block;
 	float:right;
 	margin-top: 5px;
 	margin-right: 5px;

}


.alert > [data-notify="title"] {
	display: block;
	font-weight: bold;
	font-size: 125%;
	margin-bottom: 5px;
}
.alert > [data-notify="message"] {
	font-size: 110%;
	font-weight:300;
}