<div class="cd-tabs">
    <nav>
        <ul class="cd-tabs-navigation">
            <li><a data-content="global" class="selected" href="#0"><svg class="icon-user-setting-2"><use xlink:href="/fonts/icons.svg#icon-user-setting-2"></use></svg><span class="cd-tab-text">Global<span/></a></li>
            <li><a data-content="password" href="#0"><svg class="icon-key-1"><use xlink:href="/fonts/icons.svg#icon-key-1"></use></svg><span class="cd-tab-text">Access<span/></a></li>
            <li><a data-content="media" href="#0"><svg class="icon-photos-2"><use xlink:href="/fonts/icons.svg#icon-photos-2"></use></svg><span class="cd-tab-text">Media<span/></a></li>
        </ul> <!-- cd-tabs-navigation -->
    </nav>

    <ul class="cd-tabs-content">
        <li data-content="global" class="selected">
            <div class="col-md-12"><legend>Set Language</legend></div>
            <div class="row">
            <div class="form-group">
                <div class="col-sm-12 col-md-4 col-lg-4">
                    <select id="" class="input form-control">
                        <option value="en">English</option>
                        <option value="nl">Dutch</option>
                        <option value="frl">Frisian</option>
                    </select>
                </div>
            </div>
            </div>
        </li>
        <li data-content="password">
             <div class="row">
            <div class="col-md-12">
                    <legend>Change login name</legend>
            </div>        
            <div class="form-group">
                <div id="nameForm">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="name_old" class="control-label col-md-2">Old Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="name_old" id="name_old" placeholder="Old Name" autocomplete="off"><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="newname" class="control-label col-md-2">New Name</label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" name="newname" id="newname" placeholder="New Password" autocomplete="off"><br>
                            </div>
                        </div>
                        <div  class="row">
                            <input type="submit" class="pull-right btn btn-primary btn-load" data-loading-text="Changing Password..." value="Change Password">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="col-md-12">
                    <legend>Change password</legend>
            </div>        
            <div class="form-group">
                <div id="passwordForm">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                        <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter<br>
                        <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                        <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number<br>
                        <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match<br>
                    <br>
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                    <form class="form-horizontal">
                        <div class="form-group">
                            <label for="password_old" class="control-label col-md-2">Old Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" name="password_old" id="password_old" placeholder="Old Password" autocomplete="off"><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password1" class="control-label col-md-2">New Password</label>
                                <div class="col-md-10">
                            <input type="password" class="form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off"><br>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password2" class="control-label col-md-2">Repeat Password</label>
                            <div class="col-md-10">
                                <input type="password" class="form-control" name="password2" id="password2" placeholder="Repeat Password" autocomplete="off"><br>
                            </div>
                        </div>
                        <div class="row">
                            <input type="submit" class="pull-right btn btn-primary btn-load" data-loading-text="Changing Password..." value="Change Password">
                        </div>
                    </form>
                    </div>
                </div>
            </div>
            </div>
        </li>
        <li data-content="media">
            <div class="col-md-12 well">
            <legend>Add Media</legend>
            <div class="row">
                <label class="control-label">Select File</label>
                <input id="mediaUploader" name="mediaUploader[]" type="file" class="file-loading" multiple="true">
            </div>
            </div>
            <div class="col-md-12">
            <legend>Media Library</legend>
            <div class="row">
                <div class="btn-group pull-right">
                  <button type="button" class="btn btn-primary"><svg fill="#ffffff" class="icon-gramophone"><use xlink:href="/fonts/icons.svg#icon-gramophone"></use></svg></button>
                  <button type="button" class="btn btn-primary"><svg fill="#ffffff" class="icon-video-camera-1"><use xlink:href="/fonts/icons.svg#icon-video-camera-1"></use></svg></button>
                  <button type="button" class="btn btn-primary"><svg fill="#ffffff" class="icon-photo-frame"><use xlink:href="/fonts/icons.svg#icon-photo-frame"></use></svg></button>
                  <button type="button" class="btn btn-primary"><svg fill="#ffffff" class="icon-file-list"><use xlink:href="/fonts/icons.svg#icon-file-list"></use></svg></button>
                </div>
            </div>
            <ul class="row mediagallery">
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-174908-rocking-the-night-away-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-287182-blah-blah-blah-yellow-road-sign-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-460760-colors-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-461673-retro-party-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-514834-touchscreen-technology-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-916206-legal-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-1062948-nature-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-1471528-insant-camera-kid-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2255072-relaxed-man-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2360379-colors-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2360571-jump-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2361384-culture-for-business-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2441670-spaghetti-with-tuna-fish-and-parsley-s.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-2943363-budget-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-3444921-street-art-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-3552322-insurance-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-3807845-food-s.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-3835655-down-office-worker-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-4619216-ui-control-knob-regulators-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-5771958-health-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-268693-businesswoman-using-laptop-outdoors-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-352207-search-of-code-s.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-247190-secret-email-xs.jpg">
            </li>
            <li class="col-lg-2 col-md-2 col-sm-4 col-xs-6">
                <img class="img-responsive img-polaroid" src="images/photodune-682990-online-search-xs.jpg">
            </li>
          </ul>      
            </div>
        </li>
    </ul> <!-- cd-tabs-content -->
</div> <!-- cd-tabs -->

    <div class="modal fade" id="mediaModal" tabindex="-1" role="dialog" aria-labelledby="mediaModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title"></h4>
            </div>         
          <div class="modal-body">                
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


