
/* Icons Page */

  .small{font-size:14px;color:#a5adb4;}
  .small a{color:#a5adb4;}
  .small a:hover{color:#fb565e}
  .glyphs{margin:0 0 60px 0;padding:30px 0 20px 30px;color:rgba(0,0,0,0.8);border:1px solid #d8e0e5;-webkit-border-radius:3px;border-radius:3px;}
  .glyphs li{margin:0 30px 20px 0;padding:0;display:inline-block;overflow:hidden}
  .glyphs input{margin:0;margin-top:5px;padding:8px;line-height:16px;font-size:16px;display:block;width:150px;height:40px;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;background:#fff;outline:0;float:right;}
  .glyphs input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
  .glyphs input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}

  .tip {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .tip > .number {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin-right: 12px;
    padding: 3px 7px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #fb565e;
    color: #fff;
    text-align: center;
  }
  code {
    background: #faf9ff;
    border: 1px solid #bab9c0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    font-size: 14px;
  }
  pre code {
    display: block;
    padding: 4px 6px;
  }

/* Lock page */

.lock-block{
  max-width:450px;
  min-height:180px;
  margin:150px auto 20px auto;
  background:#384b5f;
  border-radius:5px;
  padding:5px;
}

.lock-block .container{
  width:100%;
}

.inner-lock-block{
  width:100%;
  min-height:196px;
  border-radius:4px;
  border:1px solid #6B8A9C;
}

.lock-block .lock-user-pic{
  max-width:108px;
  height:108px;
  border:3px solid #ee121e;
  border-radius:100px;
  padding:3px;
  margin:10px 10px;
  margin-bottom:0px;
  background:#6B8A9C;
  position:relative;
  z-index:100;
}

.lock-block .lock-user-pic img{
  width:100px;
  border-radius:100px;
  border:3px solid #fff;
  background:#6B8A9C;
}

.lock-block .locked-text{
  background:#ee121e;
  display:inline-block;
  color:#fff;
  font-weight:600;
  font-size:15px;
  padding:3px 15px 3px 30px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  position:relative;
  top:50px;
  left:90px;
  z-index:90;
}

.lock-block .locked-time{
  background:#6B8A9C;
  display:inline-block;
  color:#fff;
  font-weight:600;
  font-size:15px;
  padding:3px 15px 3px 30px;
  border-top-right-radius:3px;
  border-bottom-right-radius:3px;
  position:relative;
  top:-40px;
  left:90px;
  z-index:90;
}

.lock-block .unlock-form{
  margin-top:50px;
}

.lock-block .unlock-form input{
  border:1px solid #6B8A9C;
  box-shadow:none;
  font-size:12px;
}

.lock-block .unlock-form h5{
  font-size:18px;
  color:#fff;
  margin:0px;
}

.lock-block .unlock-form p{
  color:#aaa;
  margin:5px 0px 8px 0px;
  font-size:13px;
  font-style:italic;
}

.lock-others{
  width:100%;
  max-width:450px;
  margin:0 auto;
  margin-bottom:100px;
}

.lock-others img{
  width:100%;
  max-width:80px;
  margin:0 auto;
  border-radius:100px;
  background:#fff;
  padding:4px;
  border:1px solid #999;
}

.lock-others .lock-others-info {
  position: relative;
  background: #ee121e;
  color:#fff;
  padding:3px 0px;
  font-size:15px;
  font-weight:600;
  border-radius:20px;
  top:10px;
  margin:0px auto 20px auto;
  max-width:80px;
}

.lock-others .lock-others-info:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(255, 255, 255, 0);
  border-bottom-color: #6B8A9C;
  border-width: 6px;
  margin-left: -6px;
}

/* Login page */

.login-page{
  width:100%;
  max-width:400px;
  margin:80px auto;
}

.login-page .container{
  width:100%;
  max-width:100%;
}

.login-page .nav-tabs{
   border-bottom:0px;
} 

.login-page .nav-tabs li{
   border:0px !important;
   margin:0px !important;
   padding:0px !important;
}

.login-page .nav-tabs li i{
  display:block;
  margin-bottom:7px;
  margin-top:5px;
  font-size:20px;
}

.login-page .nav-tabs li  a{
   background:#384B5F !important;
   border:0px !important;
   margin:0px !important;
   color:#fff;
   border-radius:0px;
   padding:10px 14px;
   border-right:1px solid #6B8A9C !important;
   border-top:1px solid #6B8A9C !important;
   -webkit-transition: background 0.7s ease;
   -moz-transition: background 0.7s ease;
   -o-transition: background 0.7s ease;
   -ms-transition: background 0.7s ease;
   transition: background 0.7s ease;   
   font-size:15px !important;
   font-weight:600;
   text-transform:uppercase;
   letter-spacing:0.02em;
}

.login-page .nav-tabs li:first-child  a{
   border-left:1px solid #6B8A9C !important;
   border-top-left-radius:5px;
}

.login-page .nav-tabs li:last-child  a{
   border-top-right-radius:5px;
}

.login-page .nav-tabs li  a:hover{
   background:#2c3e50 !important;
   -webkit-transition: background 0.7s ease;
   -moz-transition: background 0.7s ease;
   -o-transition: background 0.7s ease;
   -ms-transition: background 0.7s ease;
   transition: background 0.7s ease;   
}

.login-page .nav-tabs li.active a{
   background:#2c3e50 !important;
   color:#fff !important;
}

.login-page .tab-pane{
   background:#384B5F;
   color:#fff;
   padding:20px;
   border:1px solid #6B8A9C;
   border-bottom-left-radius:5px;
   border-bottom-right-radius:5px;
}

.login-page .tab-pane h4{
   color:#777;
   margin-top:0px;
   margin-bottom:10px;
   padding-bottom:5px;
   border-bottom:1px solid #eee;
}

.login-page .tab-pane hr{
   border-bottom:1px solid #eee;
   border-top:0px solid #dcdcdc;
}

.login-page .tab-pane form *{
  box-shadow:none;
  font-size:12px;
}

.login-page .tab-pane form input,
.login-page .tab-pane form textarea{
  border:1px solid #6B8A9C;
  box-shadow:0px 0px 5px #555;
}

.login-page .tab-pane form label{
  font-weight:normal;
  font-size:13px;
  color:#ccc;
}

.login-page .alert{
  padding:8px 12px;
  margin:8px 0px;
  font-size:12px;
}

   
   
   
   
   