body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  box-sizing: border-box;
  display: inline-block;
  min-width: 1.5em;
  padding: 0px;
  margin-left: 0px;
  text-align: center;
  text-decoration: none !important;
  cursor: pointer;
  *cursor: hand;
  border: 0px solid transparent;
  border-radius: 2px;
}


.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  color: white !important;
  border: 0px solid transparent;
  background-color: transparent;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:active {
  outline: none;
  background-color: transparent;
}