/* 
* @Author: JB Stoker
* @Date:   2016-02-01
* @Last Modified by:   JB Stoker
* @Last Modified time: 2016-02-03
*/
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-regular-webfont.eot');
  src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-regular-webfont.woff') format('woff'),
       url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
       url('../fonts/opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-italic-webfont.eot');
  src: url('../fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-italic-webfont.woff') format('woff'),
       url('../fonts/opensans-italic-webfont.ttf') format('truetype'),
       url('../fonts/opensans-italic-webfont.svg#OpenSansItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bold-webfont.eot');
  src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bold-webfont.woff') format('woff'),
       url('../fonts/opensans-bold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bold-webfont.svg#OpenSansBold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-bolditalic-webfont.eot');
  src: url('../fonts/opensans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-bolditalic-webfont.woff') format('woff'),
       url('../fonts/opensans-bolditalic-webfont.ttf') format('truetype'),
       url('../fonts/opensans-bolditalic-webfont.svg#OpenSansBoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/opensans-extrabold-webfont.eot');
  src: url('../fonts/opensans-extrabold-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/opensans-extrabold-webfont.woff') format('woff'),
       url('../fonts/opensans-extrabold-webfont.ttf') format('truetype'),
       url('../fonts/opensans-extrabold-webfont.svg#OpenSansExtrabold') format('svg');
  font-weight: 800;
  font-style: normal;
}



a#forkme_banner {
	position: absolute;
    top: 0;
    right: 10px;
    width: 68px;
    height: 140px;
    display: block;
    background: transparent url(../images/fork-sprite.png) -144px 0 no-repeat;
    text-indent: -9000px;
    z-index: 3;
    background-size: cover;
}

a#forkme_banner:hover {
  background-position: -248px 0px;
}
@media screen and (min-width: 767px) and (max-width: 1000px){
		a#forkme_banner {
	    position: absolute;
	    top: 0;
	    right: 2px;
	    width: 42px;
	    height: 85px;
	}
	a#forkme_banner:hover {
	  background-position: -150px 0px;
	}
}

@media screen and (max-width: 768px){
		a#forkme_banner {
	    right: 90px;
	    width: 42px;
	    height: 85px;
	}
	a#forkme_banner:hover {
	  background-position: -150px 0px;
	}
}
.container{
	width:100wh;
}
.downloads a {
  display: block;
  position: relative;
  height: 165px;
  text-align: center;
  line-height: 1;
  color: #cccccc;
  font-family: 'Open Sans', Myriad, Calibri, sans-serif;
  font-weight: 800;
  font-size: 10em;
}

.downloads a:hover {
  text-decoration: none;
}

.downloads a em {
  font: bold italic 0.2em Georgia, Times, “Times New Roman”, serif;
  color: #83b7da;
  display: block;
}
footer {
  	position: relative;
  	margin-top: 30px;
  	margin-left: -15px;
    margin-right: -15px;
  	height:100%;
  	background-color: #008CBA;
}
footer p{
    color: #ffffff;
    text-align: left;
    line-height: 30px;
    padding: 10px 10px 0px;
    font-size: 0.8em;
}
footer p a,footer p a:hover{
    color: #ffffff;
    text-align: left;
}
footer span.octocat {
  background: transparent url(../images/octocat.png) 0 0 no-repeat;
  display: block;
  float:right;
  width: 30px;
  height: 30px;
  margin: 0 auto;
}


/* Icons Page */

  .small{font-size:14px;color:#a5adb4;}
  .small a{color:#a5adb4;}
  .small a:hover{color:#fb565e}
  .glyphs{margin:0 0 60px 0;padding:30px 0 20px 30px;color:rgba(0,0,0,0.8);border:1px solid #d8e0e5;-webkit-border-radius:3px;border-radius:3px;}
  .glyphs li{margin:0 30px 20px 0;padding:0;display:inline-block;overflow:hidden}
  .glyphs input{margin:0;margin-top:5px;padding:8px;line-height:16px;font-size:16px;display:block;width:150px;height:40px;border:1px solid #d8e0e5;-webkit-border-radius:5px;border-radius:5px;background:#fff;outline:0;float:right;}
  .glyphs input:focus{border:1px solid #fbde4a;-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}
  .glyphs input:hover{-webkit-box-shadow:inset 0 0 3px #fbde4a;box-shadow:inset 0 0 3px #fbde4a}

  .tip {
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 30px;
  }
  .tip > .number {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    margin-right: 12px;
    padding: 3px 7px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    background-color: #fb565e;
    color: #fff;
    text-align: center;
  }
  code {
    background: #faf9ff;
    border: 1px solid #bab9c0;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 0 4px;
    font-size: 14px;
  }
  pre code {
    display: block;
    padding: 4px 6px;
  }