 <!-- Lock block -->
 <div class="lock-block">
	<div class="inner-lock-block">
		<div class="container">
			
			<div class="row">
				<div class="col-md-6">
					<div class="locked-text">
						{{{__ "LOCKED"}}}
					</div>
					<div class="lock-user-pic">
						<a href="#"><img src="/uploads/avatar/{{user.avatar}}" height="100%" alt="" class="img-responsive" /></a>
					</div>
					<div class="locked-time">
						06:06:45
					</div>	
				</div>
				<div class="col-md-6">
					<div class="unlock-form">
						<br/>
						<h5>{{user.name}}</h5>
						<p>A.F.K.</p>
						<input type="password" class="form-control" placeholder="{{{__ 'password here...'}}}">
					</div>
				</div>
			</div>
			
		</div>
	</div>
 </div>